@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
  color: #49a760;
}

/* Header starts */
header{
  padding-top: 8px;
  background: #ffffff;
  z-index: 5;
  position: sticky;
  top: 0;
}

.header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:90%;
    max-width: 1200px;
    margin: auto;
}

.logo4x{
  width: 113px;
  height: 31px;
  flex-grow: 0;
  margin: 0px 73px 0.3px 0;
  padding: 0.2px 21.5px 0.3px 1.7px;
}

.header-container .services span:hover{
  color: #49a760; 
}

.header-container .services span{
  width: 46px;
  height: 19px;
  flex-grow: 0;
  margin: 0 37px 0 0;
  font-size: 15.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #404a3d;
  cursor: pointer;
}

.header-container .buttons{
    display: flex;
    font-size: 14px;
    align-items: center;
}

.header-container .register a:hover{
  background-color: #49a760;
  color: #ffffff;
  transition: 0.4s all ease-in-out;
}

.header-container .login a:hover{
  background-color: #ffffff;
  color: #49a760;
  transition: 0.4s all ease-in-out;
}

.header-container .register a{
  padding-top: 5px;
  margin-right: 9px;
  padding-bottom: 5px ;
  padding-left: 8px;
  padding-right: 8px;
   border-radius: 5px;
   font-weight: 590;
   border: solid 1px #49a760;
   color: #49a760;
   cursor: pointer;
   background-color: #ffffff;
}

.header-container .login a{
  padding-top: 5px;
  margin-right: 9px;
  padding-bottom: 5px ;
  padding-left: 12px;
  padding-right: 12px;
   border-radius: 5px;
   font-weight: 560;
   background-color: #49a760;
   border: solid 1px #49a760;
   color: #ffffff;
   cursor: pointer;
}

.header-container .play-store{
    width: 129px;
    height: 49px;
    flex-grow: 0;
    margin: 0 28px 0 11px;
    border-radius: 5px;
    cursor: pointer;
}

.header-container .cart-whatsapp{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.header-container .cart-whatsapp .cart{
  width: 28.1px;
  margin-right: 20px;
}

.header-container .cart-whatsapp .call{
  width: 28.1px;
}

.header-container .cart-whatsapp .cart-counter{
  color: #49a760;
  position: absolute;
  top: -4px;
  left: 29px;
  font-size: 12px;
}
/*Header ends*/

/*Registration form starts*/
.container{
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

.container .sign-up-large{
  width: 131px;
  height: 44.2px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  flex-grow: 0;
  margin-top: 26px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a5cd3d;
}

.container p{
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 590;
}

.container p span{
  color: #49a760;
  font-weight: bold;
}

.forgot-password{
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.container .form-container form{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 40px;
  width: 320px;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container .google-fb-btn .facebook-logo{
  width: 25px;
  display: unset;
}

.container .google-fb-btn  .google-logo{
  width: 25px;
  margin-right: 15px;
  cursor: pointer;
}

.container .google-fb-btn{
  margin-left: 100px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container .google-fb-btn  button{
  padding-top: 10px;
  margin-right: 9px;
  width: 120px;
  margin-left: 35px;
  padding-bottom: 10px ;
  padding-left: 12px;
  padding-right: 12px;
   border-radius:2px;
   font-weight: 560;
   background-color: #a5cd3d;
   border: solid 1px #a5cd3d;
   color: #fff;
   cursor: pointer;
}

.container .form-container form input{
  margin-bottom: 10px;
  padding: 12px;
  border: 0.9px solid #49a760;
  outline: none;
  font-size: 15px;
}

.container .form-container img{
  width: 570px;
}

/*Registration ends*/

/*sign in form*/
.sign-in-container{
  align-items: flex-start;
}

.google-fb-btn.sign-in-google{
  margin-top: -15px;

}

/*sign in form ends*/

/*sign up footer starts*/
.signup-footer{
   margin-top: 50px;
   background-color: #1f3233;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 95%;
  font-size: 15px;
  max-width: 1250px;
  padding: 20px;
  color: #c7dec3;
}

.footer-container .footer-info p{
  margin-top: 5px;
  margin-bottom: 10px;
  width: 70%;
}

.footer-container .footer-info .footer-social a{
  padding-right: 5px;
}

.footer-container .footer-links{
  padding-right: 100px;
}

.footer-container .footer-links p{
  color: #ffffff;
  margin-bottom: 5px;
}

.footer-container .footer-links ul li{
   list-style: none;
   padding-top: 6px;
   cursor: pointer;
}

.footer-container .footer-address .address-head{
  color: #ffffff;
  margin-top: -13px;
}

.footer-container .footer-address .address{
  width: 90%;
  padding-top: 18px;
}

.footer-container .footer-address p{
  padding-top: 6px;
}

.footer-container .footer-newsletter{
  padding-left: 20px;
  position: relative;
}

.footer-container .footer-newsletter .newsletter-head{
  color: #ffffff;
  margin-top: 3px;
}

.footer-container .footer-newsletter p{
   padding-top: 4px;
   padding-bottom: 8px;
}

.footer-container .form-newsletter .form-subscribe {
  position: relative;
  display: none;
}

.footer-container .footer-newsletter .form-subscribe input{
  padding: 9px;
  width: 100%;
  margin-bottom: 8px;
}

.footer-container .footer-newsletter button{
  position: absolute;
  top: 126px;
  right: 11px;
  padding-top: 5px;
  width: 80px;
  margin-left: 35px;
  padding-bottom: 5px ;
  padding-left: 12px;
  padding-right: 12px;
   border-radius: 5px;
   font-weight: 560;
   background-color: #49a760;
   border: solid 1px #49a760;
   color: #fff;
   cursor: pointer;
}
/*sign up footer ends*/

/*About page starts*/
.showcase-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/grassfield@4x\ 1.png");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.showcase-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.showcase-content h1{
  font-size: 36px;
  padding-bottom: 10px;
}

.about-description{
  background-color: #F9FAF9;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.about-history{
  margin-right: 50px;
  margin-top: 10px;
  padding-bottom: 80px;
}

.about-history h1{
  display: flex;
  font-size: 25px;
  color: #49a760;
  justify-content: right;
}

.about-history .history-about{
  width: 140px;
  float: right;
  height: 5px;
  background: #49a760;
}

.about-grid{
  margin: auto;
  width: 80%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-grid .about-showcase p{
  width: 90%;
}

.mission-vision{
  padding: 30px;
  background: #F5F0E9;
  padding-bottom: 50px;
}

.mission-vision h1{
  padding-top: 15px;
  padding-bottom: 20px;
  color: #49a760;
  font-weight: bolder;
  text-align: center;
}

.mission-vision-grid{
  padding-top: 20px;
  display: flex;
  margin: auto;
  width: 75%;
  align-items: center;
  justify-content: space-evenly;
}

.mission-vision-grid .mission-grid{
  width: 380px;
  background-color: #ffffff;
  text-align: center;
  padding: 8px;

}

.mission-vision-grid .mission-grid img{
  padding-bottom: 10px;
  width: 68px;
}

.mission-vision-grid .mission-grid p{
  width: 50%;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}

.mission-vision-grid .mission-grid span{
  color: #49a760;
}

.mission-vision-grid .vision-grid{
  width: 380px;
  background-color: #ffffff;
  text-align: center;
  padding: 8px;
}

.mission-vision-grid .vision-grid img{
  padding-bottom: 10px;
  width: 68px;
}

.mission-vision-grid .vision-grid p{
  width: 50%;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}

.mission-vision-grid .vision-grid span{
  color: #49a760;
}

.what-drives-us{
  background: url('img/Rectangle\ 20.jpg') no-repeat center center/cover;
  height:518px;
}

.what-drives-us-content{
   width: 65%;
   max-width: 600px;
   margin-left:65px;
   padding-top: 50px;
}

.what-drives-us-content h1{
  color: #ffffff;
  font-size: 38px;
  font-weight: bolder;
}

.what-drives-us-content div{
  width: 180px;
  height: 5px;
  background: #49a760;
  margin-bottom: 30px;
}

.what-drives-us-content p{
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 30px;
}

.ui-wahala img{
  width: 100%;
}

.quote{
  margin-top: -3px;
  background-image: linear-gradient(rgba(165, 205, 61, 0.74), rgba(165, 205, 61, 0.74)), url("img/Quote\ 1.png");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.quote-content{
   text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.quote-content .first-vector{
  position: absolute;
  width: 40px;
  top: -15%;
  left: -6%;
}

.quote-content .second-vector{
  position: absolute;
  width: 40px;
  bottom: -13%;
  right: 2.5%;
}

.quote-content p{
  font-size: 20px; width: 90%;
  font-weight: bolder;
}

.quote-content .quote-name{
  text-align: end;
  margin-right: -20px;
}

.purpose-grid{
  margin: auto;
    width: 80%;
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.purpose-content h1{
  font-size: 25px;
  margin-left: -50px;
  font-weight: bolder;
  color: #49a760;
  text-transform: uppercase;
}

.purpose-content .line{
  width: 150px;
  margin-left: -50px;
  height: 5px;
  margin-top: 8px;
  margin-bottom: 15px;
  background: #49a760;
}

.purpose-content p{
  width: 80%;
  margin-bottom: 20px;
}

.purpose-content ul{
  width: 80%;
  padding-left: 30px;
}

.purpose-content ul li{
  list-style: none;
}

.purpose-content ul li::before{
  content: "•";
  padding-right: 10px;
  font-size: 25px;
  font-weight: bolder;
  color: #49a760;
}

.purpose-grid img{
  width: 1200px;
  height: 360px;
}

.land-hectre{
    margin-right: 100px;
    margin-top: 25px;
    padding-bottom: 40px;
}

.land-hectre-img{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.land-hectre h1{
  display: flex;
  font-size: 25px;
  color: #49a760;
  justify-content: right;
}

.land-hectre .hectre-line{
  width: 140px;
  float: right;
  height: 5px;
  background: #49a760;
}

.footer-container .footer-newsletter.about-page button {
  top: 109px;
}

.flower{
  position: absolute;
  top: -10%;
  left: -4%;
  transform: rotate(40deg);
  z-index: -5;
}
/*About page ends */

