@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

/* Header starts */
header{
  margin-top: 8px;
}

.header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:90%;
    max-width: 1200px;
    margin: auto;
}

.logo4x{
  width: 113px;
  height: 31px;
  flex-grow: 0;
  margin: 0px 73px 0.3px 0;
  padding: 0.2px 21.5px 0.3px 1.7px;
}

.header-container .services span{
  width: 46px;
  height: 19px;
  flex-grow: 0;
  margin: 0 37px 0 0;
  font-size: 15.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #404a3d;
  cursor: pointer;
}

.header-container .buttons{
    display: flex;
    font-size: 14px;
    align-items: center;
}

.header-container .register{
  padding-top: 5px;
  margin-right: 9px;
  padding-bottom: 5px ;
  padding-left: 8px;
  padding-right: 8px;
   border-radius: 5px;
   font-weight: 590;
   border: solid 1px #49a760;
   color: #49a760;
   cursor: pointer;
   background-color: #ffffff;
}

.header-container .login{
  padding-top: 5px;
  margin-right: 9px;
  padding-bottom: 5px ;
  padding-left: 12px;
  padding-right: 12px;
   border-radius: 5px;
   font-weight: 560;
   background-color: #49a760;
   border: solid 1px #49a760;
   color: #fff;
   cursor: pointer;
}

.header-container .play-store{
    width: 129px;
    height: 49px;
    flex-grow: 0;
    margin: 0 28px 0 11px;
    border-radius: 5px;
    cursor: pointer;
}

.header-container .cart-whatsapp{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.header-container .cart-whatsapp .cart{
  width: 28.1px;
  margin-right: 20px;
}

.header-container .cart-whatsapp .call{
  width: 28.1px;
}

.header-container .cart-whatsapp .cart-counter{
  color: #49a760;
  position: absolute;
  top: -4px;
  left: 29px;
  font-size: 12px;
}
/*Header ends*/

/*Registration form starts*/
.container{
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

.container .sign-up-large{
  width: 131px;
  height: 44.2px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  flex-grow: 0;
  margin-top: 26px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 20px 25px 0 rgba(37, 89, 70, 0.05);
  background-color: #a5cd3d;
}

.container p{
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 590;
}

.container p span{
  color: #49a760;
  font-weight: bold;
}

.container .form-container form{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 40px;
  width: 320px;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container .google-fb-btn .facebook-logo{
  width: 25px;
  display: unset;
}

.container .google-fb-btn  .google-logo{
  width: 25px;
  margin-right: 15px;
  cursor: pointer;
}

.container .google-fb-btn{
  margin-left: 100px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container .google-fb-btn  button{
  padding-top: 5px;
  margin-right: 9px;
  width: 100px;
  margin-left: 35px;
  padding-bottom: 5px ;
  padding-left: 12px;
  padding-right: 12px;
   border-radius: 5px;
   font-weight: 560;
   background-color: #a5cd3d;
   border: solid 1px #a5cd3d;
   color: #fff;
   cursor: pointer;
}

.container .form-container form input{
  margin-bottom: 10px;
  padding: 12px;
  border: 0.9px solid #49a760;
  outline: none;
  font-size: 15px;
}

.container .form-container img{
  width: 570px;
}

/*Registration ends*/

/*sign up footer starts*/
.signup-footer{
   margin-top: 50px;
   background-color: #1f3233;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 95%;
  font-size: 15px;
  max-width: 1250px;
  padding: 20px;
  color: #c7dec3;
}

.footer-container .footer-info p{
  margin-top: 5px;
  margin-bottom: 10px;
  width: 70%;
}

.footer-container .footer-info .footer-social a{
  padding-right: 5px;
}

.footer-container .footer-links{
  padding-right: 100px;
}

.footer-container .footer-links p{
  color: #ffffff;
  margin-bottom: 5px;
}

.footer-container .footer-links ul li{
   list-style: none;
   padding-top: 6px;
   cursor: pointer;
}

.footer-container .footer-address .address-head{
  color: #ffffff;
  margin-top: -13px;
}

.footer-container .footer-address .address{
  width: 90%;
  padding-top: 18px;
}

.footer-container .footer-address p{
  padding-top: 6px;
}

.footer-container .footer-newsletter{
  padding-left: 20px;
  position: relative;
}

.footer-container .footer-newsletter .newsletter-head{
  color: #ffffff;
  margin-top: 20px;
}

.footer-container .footer-newsletter p{
   padding-top: 4px;
   padding-bottom: 8px;
}

.footer-container .form-newsletter .form-subscribe {
  position: relative;
  display: none;
}

.footer-container .footer-newsletter .form-subscribe input{
  padding: 9px;
  width: 100%;
  margin-bottom: 8px;
}

.footer-container .footer-newsletter button{
  position: absolute;
  top: 125px;
  right: 11px;
  padding-top: 5px;
  width: 80px;
  margin-left: 35px;
  padding-bottom: 5px ;
  padding-left: 12px;
  padding-right: 12px;
   border-radius: 5px;
   font-weight: 560;
   background-color: #49a760;
   border: solid 1px #49a760;
   color: #fff;
   cursor: pointer;
}
/*sign up footer ends*/



